<div class="tabs">
<div class="row">
  <div class="col-md-8">
  <img  class="big" src={{project.images}}>
</div>
<div class="col-md-4">
    <h2>{{project.projectname}}</h2>
    <p><a href={{project.github}}>{{project.github}}</a></p>
    <a href={{project.site}}>{{project.site}}</a>
    <p>contributors {{project.contributors}}</p>
    <p>Comments: {{num-comments project}}</p>
    <p>Ratings: someting here {{model}}</p>
    <form class="rating">
 <label>
   <input type="radio" name="stars" value="1" />
   <span class="icon">★</span>
 </label>
 <label>
   <input type="radio" name="stars" value="2" />
   <span class="icon">★</span>
   <span class="icon">★</span>
 </label>
 <label>
   <input type="radio" name="stars" value="3" />
   <span class="icon">★</span>
   <span class="icon">★</span>
   <span class="icon">★</span>
 </label>
 <label>
   <input type="radio" name="stars" value="4" />
   <span class="icon">★</span>
   <span class="icon">★</span>
   <span class="icon">★</span>
   <span class="icon">★</span>
 </label>
 <label>
   <input type="radio" name="stars" value="5" />
   <span class="icon">★</span>
   <span class="icon">★</span>
   <span class="icon">★</span>
   <span class="icon">★</span>
   <span class="icon">★</span>
 </label>
</form>
  </div>
  </div>
 </div>
