<div class="tabs">
  <div class="row">
    <div class="col-md-6">
    <img src={{project.images}} height="300px" width="500px">
  </div>
  <div class="col-md-6">
    {{#link-to 'project' project.id}}<h2 class="projecttitle">{{project.projectname}}</h2>{{/link-to}}
    <p>list of contributors {{project.contributors}}</p>
    <a href={{project.site}}>link of deployed site </a>
    <p>Comments {{project.comments}}
    {{update-project project=project update='update'}}
    </div>
   </div>
  </div>
