<div class="tabs">
  <div class="row">
    <div class="col-md-6">
    <img src={{project.images}} class="img-thumbnail" height="300px" width="500px">
  </div>
  <div class="col-md-6">
    {{#link-to 'project' project.id}}<h2 class="projecttitle">{{project.projectname}}</h2>{{/link-to}}
    <p>Deployed Site:<a href={{project.site}}>Click here </a></P>
    <p>{{project-rating project}}  Comments: {{num-comments project}}  </p>
    <p>Rating: {{ratings project}}</p>
    {{update-project project=project update='update'}}
    </div>
   </div>
  </div>
