{{#if updateProject}}
<div>
<form>
  <div class="row">
    <div class="col-md-6">
      <label for="site">Deployed Site:</label>
      {{input  id="site" placeholder=project.site value=site}}
    </div>
    <div class="col-md-6">
      <label for="github">Github Url:</label>
      {{input  id="github" placeholder=project.github value=github}}
    </div>
  </div>

  <button class="btn btn-primary" {{action 'update' project}}>Save Updates</button>
</form>
</div>
{{else}}
{{#link-to 'update' project.id}}<button class="btn btn-primary" {{action 'updateProject'}}>Update Project</button>{{/link-to}}
{{/if}}
