<div class="container">

  <div class="tabs">
  <div class="row">
    <div class="col-md-8">
    <img  class="big" src={{model.images}}>
  </div>
  <div class="col-md-4">
      <h2>{{model.projectname}}</h2>
<p><a href="{{model.github}}">{{model.github}}</a></p>
    <a href={{model.site}}>{{model.site}}</a>
    <p>contributors <a href="#">Peter,Njoroge,David,Vincent</a></p>
    <p>Comments: 10</p>
    <p>Ratings: 8.7</p>
    </div>
    </div>
   </div>
   <form class="Comment" method="post">
<input type="text" name="Comment" value=""placeholder="Comment about project">
<button type="button" name="button"class="btn btn-submit">Submit Comment</button>
</form>
   <form class="rating">
  <label>
    <input type="radio" name="stars" value="1" />
    <span class="icon">★</span>
  </label>
  <label>
    <input type="radio" name="stars" value="2" />
    <span class="icon">★</span>
    <span class="icon">★</span>
  </label>
  <label>
    <input type="radio" name="stars" value="3" />
    <span class="icon">★</span>
    <span class="icon">★</span>
    <span class="icon">★</span>
  </label>
  <label>
    <input type="radio" name="stars" value="4" />
    <span class="icon">★</span>
    <span class="icon">★</span>
    <span class="icon">★</span>
    <span class="icon">★</span>
  </label>
  <label>
    <input type="radio" name="stars" value="5" />
    <span class="icon">★</span>
    <span class="icon">★</span>
    <span class="icon">★</span>
    <span class="icon">★</span>
    <span class="icon">★</span>
  </label>
</form>
<div class="comment">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerci</p>
<p>Author: Vinny <span class="right">rating: 8</span> </p>

</div>
<div class="comment">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerci</p>
<p>Author: Vinny <span class="right">rating: 8</span> </p>

</div>
<div class="comment">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerci</p>
<p>Author: Vinny <span class="right">rating: 8</span> </p>

</div>
<div class="comment">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerci</p>
<p>Author: Vinny <span class="right">rating: 8</span> </p>

</div>
  </div>
  {{project-detail project=model}}
